<h1>Listing protocols</h1>

<table>
  <thead>
    <tr>
      <th colspan=4>Protocol Name</th>
      <th>Creation Date</th>
      <th>Modification Date</th>
      <th>show</th>
      <th>edit</th>
      <th>destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <%= render 'protocoltable', protocol: protocol %>
        <td><%= link_to 'Show', protocol %></td>
        <td><%= link_to 'Edit', edit_protocol_path(protocol) %></td>
        <td><%= link_to 'Destroy', protocol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Protocol', new_protocol_path %>
